@import '../../assets/variables';

.input-field {
  &__title {
    color: #9999;
    font: $font-regular;
    margin: 0;
  }

  &__error {
    color: #ff2f2f;
    margin: 0;
    margin-top: 7px;
    font: $font-nano;
  }
}
