<div class="login-page">
  {{#> Dialog }}
    <form class="login-page__form">
      <div class="login-page__content">
        {{> DialogTitle text="Вход" }}
        {{> Input title="Логин" name="login" }}
        {{> Input title="Пароль" name="password" type="password" }}
      </div>
      <div class="login-page__footer">
        {{> Button text="Авторизоваться" page="chat" }}
        {{> Link text="Нет аккаунта?" page="register" }}
      </div>
    </form>
  {{/ Dialog }}
</div>