<div class="register-page">
  {{#> Dialog }}
    <form class="register-page__form">
      <div class="register-page__content">
        {{> DialogTitle text="Регистрация" }}
        {{> Input title="Почта" name="email" type="email" }}
        {{> Input title="Логин" name="login" }}
        {{> Input title="Имя" name="first_name" }}
        {{> Input title="Фамилия" name="second_name" }}
        {{> Input title="Телефон" name="phone" type="tel" }}
        {{> Input title="Пароль" name="password" type="password" }}
        {{> Input title="Пароль (ещё раз)" name="passwordRepeat" type="password" }}
      </div>
      <div class="register-page__footer">
        {{> Button text="Зарегистрироваться" page="chats" }}
        {{> Link text="Войти" href="login" }}
      </div>
    </form>
  {{/ Dialog }}
</div>
