@import '../../assets/variables';

.user-item {
  cursor: pointer;
  display: flex;
  color: $text-color-primary;
  width: 100%;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;

  &__selected {
    background-color: $bg-color-hover;
  }

  &:hover {
    background-color: $bg-color-hover;
  }
}
