<div class="error">
  <h1 class="error__title">
    {{ title }}
  </h1>
  <h2 class="error__subtitle">
    {{ subtitle }}
  </h2>
  <div class="error__footer">
    {{> Link text="Назад к чатам" href="chats" }}
  </div>
</div>