@import '../../assets/variables';

.add-chat {
  border: 0;
  border-radius: 8px;
  height: 37px;
  padding: 12px;
  font: $font-regular;
  color: #fff;
  background-color: $bg-color-primary;
  width: 100%;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 32, 35, 0.);
  }
}
