<div class="chat-page">
  <div class="chat-page__chats">
    {{#> ChatList }}
      <div class="chat-page__header">
        <div class="chat-page__profile-link-wrapper">
          <a class="chat-page__profile-link" href="profile">
            Профиль
          </a>
          <img class="icon-chevron-right" src="../../assets/icons/chevron right.svg">
        </div>
        {{> ChatInput className="chat-input__search" name="search" type="search" placeholder="Поиск" }}
      </div>
      {{#each (chat-page-list)}}
        {{> ChatListItem }}
      {{/each}}
    {{/ ChatList }}
  </div>

  <div class="chat-page__chat-preview">
    {{#if isChatSelected }}
      {{#> ChatBody }}
        <div class="chat-page__chat-header">
          <div class="chat-page__chat-name">
            {{> Avatar small="true"}}
            <p>{{ display_name }}</p>
          </div>
          <div class="chat-page__more">
            <img class="icon-dots" src="../../assets/icons/dots.svg">
          </div>
        </div>

        <div class="chat-page__chat-body">
          {{#each (chat-page-messages-list)}}
            {{> ChatMessage }}
          {{/each}}
          <div class="chat-page__chat-input">
            <img class="icon-send-file" src="../../assets/icons/sendFIle.svg">
            {{> ChatInput name="message" type="text" placeholder="Сообщение" }}
            <img class="icon-send-message" src="../../assets/icons/sendMessage.svg">
          </div>
        </div>
      {{/ ChatBody }}
    {{else }}
      <p class="chat-page__chat-placeholder">
        Выберите чат чтобы отправить сообщение
      </p>
    {{/if }}
  </div>
</div>
