@import '../../assets/variables.scss';

.chat-page {
  height: 100%;
  display: flex;

  &__chats {
    width: 25%;
    min-width: 310px;
  }
  
  &__header {
    padding: 21px 10px 14px 10px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: end;
  }

  &__profile-link-wrapper {
    display: flex;
    gap: 8px;

    img {
      padding: 2px 0;
    }
  }

  &__profile-link {
    text-decoration: none;
    color: $text-color-secondary;
    width: fit-content;
    font: $font-small;
  }

  &__chat-preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__chat-placeholder {
    font: $font-small;
    color: $text-color-secondary;
  }
}
