$font-body: inter, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-sans;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-large: #{$font-weight-regular} 40px / 40px #{$font-body};
$font-big: #{$font-weight-regular} 20px / 20px #{$font-body};
$font-title: #{$font-weight-semibold} 16px / 16px #{$font-body};
$font-regular: #{$font-weight-regular} 13px / 13px #{$font-body};
$font-small: #{$font-weight-regular} 12px / 12px #{$font-body};
$font-micro: #{$font-weight-regular} 11px / 11px #{$font-body};
$font-nano: #{$font-weight-regular} 9px / 9px #{$font-body};
$bg-color: #fff;
$bg-color-primary: #3369f3;
$bg-color-secondary: #fbfbfb;
$bg-color-hover: #e4edfd;
$bg-color-divider: #eaeaea;
$text-color-primary: #1e1e1e;
$text-color-secondary: #999;
$text-color-tertiary: #{$bg-color};
$gray-light-color: #efefef;
$gray-normal-color: #f8f8f8;
$red-normal-color: #f00;
$dialog-bg-color: #{$bg-color};
$dialog-box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
