<div class="edit-page">
  <a class="edit-page__back-block" href="profile">
    <img class="icon-send-message" src="../../assets/icons/sendMessage.svg">
  </a>

  <form class="edit-page__form">
    <div class="profile-page__header">
      <div class="profile-page__image">
        <img class="icon-profile-img" src="../../assets/icons/profileImg.svg">
      </div>
    </div>
    <div class="edit-page__fields">
      {{> Input title="Старый пароль" value="1231231" name="oldPassword" type="password" }}
      {{> Input title="Новый пароль" name="newPassword" type="password" }}
      {{> Input title="Повторите новый пароль" name="new password again" type="password" }}
    </div>
    <div class="edit-page__footer">
      {{> Button text="Сохранить" page="profile" }}
    </div>
  </form>
</div>