@import '../../assets/variables';

.chat-input {
  background-color: $gray-light-color;
  width: 100%;
  height: 32px;
  padding: 6px 20px;
  border: 0;
  border-radius: 30px;

  &__title {
    color: #9999;
    font: $font-regular;
    margin: 0;
  }

  &:focus {
    outline: 0;
  }

  &__search {
    background-image: url('../../assets/icons/search.svg');
    background-position: 10px 6px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 34px;
  }
}
