@import '../../assets/variables';

.link {
  color: $bg-color-primary;
  font: $font-micro;
  text-decoration: none;
  cursor: pointer;

  &__negative {
    color: $red-normal-color;
  }

  &__xl {
    font: $font-regular;
  }
}
